:root {
  --Off-Pink: #ffe4d9;
  --Off-Black: #2f3543;
  --Off-White: #80778b;
  --Dark: #1c1c25;
  --Shadow: #1b1a1abf;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--Off-Black);
}
::-webkit-scrollbar-thumb {
  background: var(--Off-White);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--Off-Pink);
}

/* font, it applies to all elements */
* {
  font-family: "Josefin Sans", sans-serif;
}

/* styling that applies to the entire body/main container of the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  margin: 0px;
  background-color: var(--Dark);
  object-fit: cover;
  margin-bottom: 50px;
  color: var(--Off-Pink);
}

/* styling for the header and the info text */

#header_Header {
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 0px;
}
.header_InfoText {
  font-size: 16px;
  margin: 32px;
  text-align: center;
  max-width: 350px;
}

/* css for the input and buttons */
.input_Container {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 35px;
  background-color: var(--Off-Black);
  opacity: 0.7;
  border-radius: 35px;
  margin-bottom: 16px;
  padding-left: 5px;
  box-shadow: 0px 10px 5px 0px var(--Shadow);
}
#button_GetSpecific,
#input_CardName {
  border-style: none;
  background-color: transparent;
}
#input_CardName {
  width: 200px;
  height: 30px;
  font-size: 16px;
  color: var(--Off-Pink);
}
#button_GetSpecific {
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#input_CardName:focus {
  outline: none;
  border: none;
}
#button_GetSpecific:hover,
#button_GetRandom:hover {
  cursor: pointer;
  opacity: 0.9;
}
#button_GetSpecific:hover {
  transform: scale(1.08);
}
#button_GetRandom:hover {
  transform: scale(1.01);
}
#searchIcon {
  transform: scale(0.5);
}

/* Styling for the container in which the image and list are displayed */

#display_Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  margin-top: 32px;
  border-radius: 24px;
}

/* Styling for the Legality-list*/
#display_Ul,
.display_UlContainer {
  display: flex;
  justify-content: center;
}
#display_Ul {
  list-style-type: circle;
  padding: 0px;
}
li,
#display_UlLabel {
  margin-left: 16px;
}
li {
  font-size: 16px;
}
#display_UlLabel {
  margin-right: 20px;
  font-size: 25px;
  margin-top: 0px;
}
li:first-child {
  margin-top: 20px;
}
#display_UlLabel {
  font-size: 30px;
}
.display_UlContainer {
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Syling for the card image and the card name */
#display_CardHeader,
#display_MtgImg {
  margin: 16px;
}
#display_MtgImg {
  width: 200px;
  height: auto;
}
#display_CardHeader {
  font-display: center;
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}
#button_GetRandom {
  width: 160px;
  height: 30px;
  border-style: solid;
  background-color: transparent;
  border-bottom: 2px solid var(--Off-Pink);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: var(--Off-Pink);
  opacity: 0.6;
}

/* breakpoint for mid-sized devices */

@media (width > 550px) {
  /* header/upper body styles */
  #header_Header {
    font-size: 60px;
  }
  .header_InfoText {
    margin: 32px;
    max-width: 500px;
  }

  .input_Container {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-around;
  }
  #button_GetRandom {
    font-size: 20px;
    width: auto;
  }
  #button_GetSpecific {
    width: 30px;
  }
  #searchIcon {
    transform: scale(0.6);
  }

  /* display search result styles */
  #display_Container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    height: 70%;
  }
  #display_MtgImg {
    margin-bottom: 100px;
    width: 220px;
    height: auto;
  }
  #display_CardHeader,
  #display_UlLabel {
    font-size: 30px;
  }
  #input_CardName {
    width: 350px;
    height: 46px;
    font-size: 24px;
  }
  #display_Ul {
    margin-top: 50px;
  }
  li:first-child {
    margin-top: 30px;
  }
}

/*breakpoint for large devices */

@media (width > 1000px) {
  /* upper body styles */
  #header_Header {
    font-size: 80px;
  }
  .header_InfoText {
    max-width: none;
  }
  .input_Container {
    width: 750px;
    height: 50px;
    display: flex;
    justify-content: space-around;
  }
  #input_CardName {
    width: 640px;
    height: 50px;
    font-size: 30px;
  }
  #button_GetSpecific {
    width: 30px;
  }
  #button_GetRandom {
    font-size: 24px;
  }
  #searchIcon {
    transform: scale(0.8);
  }

  /* lower body styles */

  #display_UlLabel {
    margin-right: 50px;
  }

  #display_MtgImg {
    width: 300px;
    height: auto;
    margin-left: 50px;
  }
}
