:root {
  --Off-Pink: #ffe4d9;
  --Off-Black: #2f3543;
}

* {
  font-family: "Josefin Sans", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: rgb(56, 44, 27);
  margin: 0px;
  background-size: cover;
  /*background-image: url(https://images2.alphacoders.com/943/943323.jpg);*/
  background-color: aquamarine;
}
.content {
  position: relative;
}
.cardImg {
  width: 300px;
  height: auto;
}
.cardHeader {
  font-display: center;
  color: var(--Off-Pink);
  text-align: center;
}

#header {
  font-size: 40px;
  color: var(--Off-Pink);
}
#searchCard {
  width: 285px;
  height: 45px;
  border-radius: 35px;
  background-color: var(--Off-Black);
  border-style: none;
  font-size: 20px;
  margin-bottom: 45px;
  color: var(--Off-Pink);
}
#getRandom {
  width: 160px;
  height: 30px;
  border-style: solid;
  background-color: transparent;
  border-bottom: 2px solid var(--Off-Pink);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: var(--Off-Pink);
}
